In [1]:
import API_Call
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np

In [2]:
df = pd.read_csv("data/coords/mrt_lrt.csv")
df.head()

              Station                   Line
0            Expo MRT  Changi Airport Branch
1  Changi Airport MRT  Changi Airport Branch
2     Dhoby Ghaut MRT                 Circle
3      Bras Basah MRT                 Circle
4       Esplanade MRT                 Circle

In [3]:
#station repeated due to different line
print(df.shape)
df.drop_duplicates('Station', keep='last', inplace=True, ignore_index=True)
df.shape

(188, 2)

(164, 2)

In [4]:
df.drop(['Line'], axis=1, inplace=True)

In [5]:
#default latitude/longitude
df['lat'] = np.nan
df['long'] = np.nan

API_Call.process_df(df, "Station")

In [6]:
#check any invalid address/request
df.isna().sum()

Station    0
lat        0
long       0
dtype: int64

In [7]:
#save file
df.to_csv("data/coords/coords_mrt.csv", index=False)