In [1]:
import API_Call
import pandas as pd

In [2]:
api = "https://developers.onemap.sg/commonapi/search?returnGeom=Y&getAddrDetails=N&searchVal=primary%20school"
list_pri = API_Call.get_list(api)
len(list_pri)

214

In [3]:
#convert to df for easy viewing and checking
columns = ['School', 'lat', 'long']
df = pd.DataFrame(list_pri, columns=columns)
df.head()

                    School               lat              long
0  ZHONGHUA PRIMARY SCHOOL  1.36020329705047  103.869762438084
1  ZHENGHUA PRIMARY SCHOOL  1.37954887512229  103.769313521752
2   ZHANGDE PRIMARY SCHOOL  1.28421153335379  103.825951875662
3     YUMIN PRIMARY SCHOOL  1.35129177656981  103.950461927088
4     YUHUA PRIMARY SCHOOL  1.34280230475033  103.741105772644

In [4]:
#check any invalid address/request
df.isna().sum()

School    0
lat       0
long      0
dtype: int64

In [5]:
#save file
df.to_csv("data/coords/coords_primary.csv", index=False)