In [1]:
import pandas as pd
#load
df = pd.read_csv("data/coords/coords_combine.csv")

In [2]:
# df = df.reset_index()
df.drop(['storey_range', 'flat_model', 'mth_sold', 'age_sold'], axis=1, inplace=True)
#merge back masionette into executive flat_type
df.loc[df.flat_type == 'MAISONETTE', 'flat_type'] = 'EXECUTIVE'
df.head()

,town,flat_type,block,street_name,floor_area_sqm,resale_price,year_sold,hdb_lat,hdb_long,bus,...,pri_sch,bus_lat,bus_long,mrt_lat,mrt_long,sch_lat,sch_long,bus_dist,mrt_dist,pri_dist
0,ANG MO KIO,4 ROOM,211,ANG MO KIO AVE 3,81.0,80000.0,1990,1.369197,103.841667,Ang Mo Kio Bus Interchange,...,ANG MO KIO PRIMARY SCHOOL,1.369519,103.848462,1.371463,103.836568,1.369322,103.839631,756,620,226
1,ANG MO KIO,4 ROOM,209,ANG MO KIO AVE 3,91.0,72000.0,1990,1.368971,103.843285,Ang Mo Kio Bus Interchange,...,ANG MO KIO PRIMARY SCHOOL,1.369519,103.848462,1.369933,103.849558,1.369322,103.839631,578,705,408
2,ANG MO KIO,4 ROOM,231,ANG MO KIO AVE 3,92.0,72000.0,1990,1.368561,103.837525,Ang Mo Kio Bus Interchange,...,ANG MO KIO PRIMARY SCHOOL,1.369519,103.848462,1.371463,103.836568,1.369322,103.839631,1220,339,248
3,ANG MO KIO,4 ROOM,308,ANG MO KIO AVE 1,92.0,86000.0,1990,1.365697,103.844347,Ang Mo Kio Bus Interchange,...,ANG MO KIO PRIMARY SCHOOL,1.369519,103.848462,1.369933,103.849558,1.369322,103.839631,624,746,661
4,ANG MO KIO,4 ROOM,254,ANG MO KIO AVE 4,97.0,72000.0,1990,1.370203,103.834688,Ang Mo Kio Bus Interchange,...,ANG MO KIO PRIMARY SCHOOL,1.369519,103.848462,1.371463,103.836568,1.369322,103.839631,1533,251,558

In [3]:
#extract only relevant info for question
temp = df.filter(['town','flat_type', 'floor_area_sqm', 'resale_price', 'year_sold'], axis=1)
s1question_B = temp.groupby(by=['town', 'flat_type', 'year_sold'], as_index=False).median()

In [4]:
s1question_B

            town  flat_type  year_sold  floor_area_sqm  resale_price
0     ANG MO KIO     2 ROOM       1990            45.0       23000.0
1     ANG MO KIO     2 ROOM       1991            45.0       29000.0
2     ANG MO KIO     2 ROOM       1992            45.0       28000.0
3     ANG MO KIO     2 ROOM       1993            45.0       33500.0
4     ANG MO KIO     2 ROOM       1994            45.0       48000.0
...          ...        ...        ...             ...           ...
3600      YISHUN  EXECUTIVE       2018           146.0      562500.0
3601      YISHUN  EXECUTIVE       2019           146.0      548000.0
3602      YISHUN  EXECUTIVE       2020           146.0      581500.0
3603      YISHUN  EXECUTIVE       2021           146.0      650000.0
3604      YISHUN  EXECUTIVE       2022           146.0      760000.0

[3605 rows x 5 columns]

In [5]:
#save file
s1question_B.to_csv("data/s1question_B.csv", index=False)

In [6]:
#extract only relevant info for question
df['address'] = df['block'] + ' ' + df['street_name']
df.drop(['block', 'street_name', 'floor_area_sqm'], axis=1, inplace=True)

df.drop_duplicates(['town','address','flat_type'], keep='last', inplace=True)
df

,town,flat_type,resale_price,year_sold,hdb_lat,hdb_long,bus,mrt,pri_sch,bus_lat,bus_long,mrt_lat,mrt_long,sch_lat,sch_long,bus_dist,mrt_dist,pri_dist,address
14274,KALLANG/WHAMPOA,2 ROOM,41500.0,1992,1.304187,103.865193,Toa Payoh Bus Interchange,Lavender MRT,STAMFORD PRIMARY SCHOOL,1.332069,103.847134,1.307378,103.862768,1.303456,103.857454,3693,445,864,3 BEACH RD
15318,BUKIT MERAH,4 ROOM,95000.0,1992,1.286200,103.831688,Bukit Merah Bus Interchange,Tiong Bahru MRT,ZHANGDE PRIMARY SCHOOL,1.282040,103.817210,1.286103,103.827445,1.284212,103.825952,1674,471,674,5 TIONG BAHRU RD
42401,TAMPINES,4 ROOM,192000.0,1995,1.347192,103.938014,Tampines Bus Interchange,Tampines West MRT,JUNYUAN PRIMARY SCHOOL,1.354367,103.943675,1.345515,103.938437,1.347871,103.939222,1016,192,153,801 TAMPINES AVE 4
69403,JURONG EAST,4 ROOM,252000.0,1996,1.320989,103.738181,Jurong East Bus Interchange,Jurong East MRT,FUHUA PRIMARY SCHOOL,1.331864,103.740927,1.333153,103.742286,1.336504,103.736104,1247,1427,1740,49 TEBAN GDNS RD
71505,TOA PAYOH,2 ROOM,80000.0,1996,1.334292,103.878746,Serangoon Bus Interchange,Bartley MRT,CEDAR PRIMARY SCHOOL,1.350769,103.872296,1.342501,103.880178,1.335589,103.875621,1967,926,376,1 UPP ALJUNIED LANE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872141,YISHUN,3 ROOM,290000.0,2014,1.435874,103.838504,Yishun Integrated Transport Hub,Yishun MRT,XISHAN PRIMARY SCHOOL,1.428177,103.836121,1.429443,103.835005,1.433472,103.837755,895,814,279,264 YISHUN ST 22
872142,YISHUN,3 ROOM,290000.0,2014,1.437459,103.839040,Yishun Integrated Transport Hub,Yishun MRT,XISHAN PRIMARY SCHOOL,1.428177,103.836121,1.429443,103.835005,1.433472,103.837755,1081,997,465,274 YISHUN ST 22
872143,YISHUN,3 ROOM,276000.0,2014,1.436163,103.839111,Yishun Integrated Transport Hub,Yishun MRT,XISHAN PRIMARY SCHOOL,1.428177,103.836121,1.429443,103.835005,1.433472,103.837755,948,875,335,263 YISHUN ST 22
872144,YISHUN,3 ROOM,325000.0,2014,1.418078,103.836957,Yishun Integrated Transport Hub,Khatib MRT,NAVAL BASE PRIMARY SCHOOL,1.428177,103.836121,1.417383,103.832980,1.416307,103.838794,1126,448,283,628 YISHUN ST 61
872146,YISHUN,3 ROOM,295000.0,2014,1.426956,103.830710,Yishun Integrated Transport Hub,Yishun MRT,JIEMIN PRIMARY SCHOOL,1.428177,103.836121,1.429443,103.835005,1.427688,103.830425,616,551,87,725 YISHUN ST 71

In [7]:
#save file
df.to_csv("data/s1question_C.csv", index=False)